/* 
// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyCdSPu0RIwbpBn1xjuRhAXbqPvCSzPR4hk",
  authDomain: "lomarius.firebaseapp.com",
  projectId: "lomarius",
  storageBucket: "lomarius.firebasestorage.app",
  messagingSenderId: "659947356147",
  appId: "1:659947356147:web:02f4c0737a207bfafb5c86",
  measurementId: "G-H5V0MW2SS5"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.menu-btn{
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
}

.container-btn{
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1{
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform: translate(0, -11px) rotate(45deg);
}

.sidebar{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    background: #222;
    color: white;
    padding: 20px;
    transition: right 0.3s ease;
}

.sidebar.active{
    right: 0;
}

.inform{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.4);
    display: none;
    /* login */
}

.inform.active{
    display: block;
}

.inform-content{
    background-color: #fefefe;
    margin: 20% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

.inform-content p{
    display: flex;
    justify-content: center;
}

.col{
    float: left;
}

.imgcontainer{
    text-align: center;
    margin: 10px;
}

.avatar{
    width: 40%;
    border-radius: 100%;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
}

.btn{
    width: 100%;
    margin: 0;
    padding: 12px;
    border: none;
    border-radius: 4px;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.btn:hover{
    opacity: 1;
}

.login-signin{
    display: flex;
    gap: 10px;
}

.summit{
    background-color: #45a049;
    color: white;
}

.google{
    background-color: #dd4b39;
    color: white;
}

.navtab a{
    display: block;
    margin: 5px 20px;
    color: white;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    height: 100px;
}

.header h1{
    color: white;
}

.header span{
    color: white;
}

.navigation h2{
    background-color: purple;
    height: 50px;
    margin: 0;
    color: white;
}

.container{
    display: flex;
}

.left{
    background-color: aquamarine;
    flex: 2;
}

.right{
    background-color:burlywood;
    flex: 1;
}

.top, .bottom{
    height: 500px;
    background-color: lightblue;
    margin: 10px;
}

.aside{
    height: 1010px;
    background-color: bisque;
    margin: 10px;
}

.footer h1{
    background-color: black;
    height: 100px;
    margin: 0;
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.gopage ul a{
    display: s;
}