html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.menu-btn{
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
}

.sidebar{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    background: #222;
    color: white;
    padding: 20px;
    transition: right 0.3s ease;
}

.sidebar.active{
    right: 0;
}

.inform{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.4);
    display: none;
}

.inform.active{
    display: block;
}

.inform-content{
    background-color: #fefefe;
    margin: 20% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

.imgcontainer{
    text-align: center;
    margin: 10px;
}

.avatar{
    width: 40%;
    border-radius: 100%;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
}

.navtab a{
    display: block;
    margin: 5px 20px;
    color: white;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    height: 100px;
}

.header h1{
    color: white;
}

.header span{
    color: white;
}

.navigation h2{
    background-color: purple;
    height: 50px;
    margin: 0;
    color: white;
}

.container{
    display: flex;
}

.left{
    background-color: aquamarine;
    flex: 2;
}

.right{
    background-color:burlywood;
    flex: 1;
}

.top, .bottom{
    height: 500px;
    background-color: lightblue;
    margin: 10px;
}

.aside{
    height: 1010px;
    background-color: bisque;
    margin: 10px;
}

.footer h1{
    background-color: black;
    height: 100px;
    margin: 0;
    color: white;
}