body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: clamp(14px, 2vw, 18px);
}

.menu-btn{
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
}

.sidebar{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    background: #222;
    color: white;
    padding: 20px;
    transition: right 0.3s ease;
}

.sidebar.active{
    right: 0;
}

.header{
        display: flex;
        align-items: end;
        padding: 20px;
}
.en-th{
    margin-left: auto;
}

.content1{
    background-color: wheat;
    padding: 10px;
    margin: 0 20px;
    margin-bottom: 10px;
}
/*@media (max-width: 768px){
    .content1{
        margin: 0;
    }
}*/

.content2{
    background-color: bisque;
    padding: 10px;
    margin: 0 80px;
}
/*@media (max-width: 700px){
    .content2{
        margin: 0;
    }
}*/

.carousel{
    width: 900px;
    overflow: hidden;
    margin: 50px auto;
}

.track{
    display: flex;
    gap: 10px;
    width: max-content;
    animation: slide 20s linear infinite;
}

.track img{
    width: 300px;
    object-fit: cover;
}

@keyframes slide {

  0%   { transform: translateX(0); }
  15%  { transform: translateX(0); }

  20%  { transform: translateX(-310px); }
  35%  { transform: translateX(-310px); }

  40%  { transform: translateX(-620px); }
  55%  { transform: translateX(-620px); }

  60%  { transform: translateX(-930px); }
  75%  { transform: translateX(-930px); }

  80%  { transform: translateX(-1240px); }
  95%  { transform: translateX(-1240px); }

  100% { transform: translateX(-1550px); }
}