*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background-color: gray;
    color: #333;
}

.header-banner{
    height: 100px;
    margin: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-banner h1{
    color: red;
    align-self: flex-start;
}

.header-banner .nav-to-page a{
    background-color: wheat;
    padding: 5px;
    border-radius: 5px;
}

.header-banner .en-th{
    position: absolute;
    top: 5px;
    right: 5px;
}

/* content-1 */
.content-1{
    width: 100%;
    position: relative;
    margin: 0;
}
.slide{
    display: none;
    height: 40vh;
}
.slide-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    border-radius: 3px 0 0 3px;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: red;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: red;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* content-1 */

/* content-2 */
.contain-2{
    background-color: white;
}
.contain-box1{
    text-align: right;
    margin: 10px;
    color: black;
}
.contain-box2 ,.contain-box3{
    text-align: center;
}
.contain-box1 h1{
    margin: 10px 0;
}
.contain-box2 p{
    font-size: 18px;
}
.contain-box2 b{
    color: rgb(22, 111, 255);
}
.contain-box3 p{
    font-size: 14px;
}
/* content-2 */

/* content-3 */
.content-3{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    justify-items: center;

    /* ขอบ fade แบบโปร */
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
}
.slide-partner-left ,.slide-partner-right{
    display: flex;
    gap: 10px;
    width: max-content;
    margin: 10px 0;
}
.slide-partner-left{
    animation: scrollLeft 20s linear infinite;
}
.slide-partner-right{
    animation: scrollRight 20s linear infinite;
}
.slide-partner-left img, .slide-partner-right img{
    height: 100px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}
@keyframes scrollLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-25%); }
}
@keyframes scrollRight {
  from { transform: translateX(0); }
  to   { transform: translateX(25%); }
}
/* content-3 */