* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: white;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
}


/* Set up Header */
header {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: auto;
    padding: 10px;
}

.nav-container {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}

.nav-container a {
    cursor: pointer;
}

.nav-container a:hover {
    color: blue;
}

/* ---------- Set up left-nav */
.left-nav {
    display: inline-block;
    text-decoration: none;
}

.left-nav img {
    height: 50px;
    width: auto;
    display: block;
    cursor: pointer;
}

/* ---------- Set up middle-nev */
.middle-nav {
    display: flex;
    gap: 50px;
}

/* ---------- Set up left-nav */
.right-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Set up dropdown-container */
.dropdown-container {
    width: auto;
    height: auto;
    display: flex;
    /*----------Control dropdown background(none - flex)*/
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: blue;
}


.dropdown-container a {
    cursor: pointer;
}

/* ---------- Universal dropdown element */
.service-container {
    width: auto;
    height: auto;
    gap: 10px;
    display: none;
    /*---------- Control service element */
    gap: 30px;
}



.dropdown-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.career-container {
    width: auto;
    height: auto;
    gap: 10px;
    display: none;
    /*---------- Control career element */
    gap: 30px;
}

.show {
    display: flex;
}